html
	head
		script(src="/socket.io/socket.io.js")
		script(src="/connection.js")
	body
		h1 Gert!
		button(onclick="forward()") forward
		button(onclick="left()") left
		button(onclick="right()") right
		button(onclick="back()") back
